@import url("https://fonts.googleapis.com/css2?family=Neucha&display=swap");

*{
  margin: 0;
  box-sizing: border-box;
}
.margin{
  margin: 20px;
}
.margin-bottom{
  margin-bottom: 20px;
}
.body{
  padding-top: 75px;
}
a{
  text-decoration: none;
}