.h1 {
    text-align: center;
}

.container {
    width: 100%;
    height: auto;
}

.map {
    width: 250px;
    height: 450px;
    margin: auto;
}

.runState {
    margin: 5px;
    text-align: center;
    border-collapse: separate;
    border-spacing: 20px 0;
}

.center {
    display: flex;
    justify-content: center;
}
.controler{
    margin-top: 10px;
    text-align: center;
}